@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Permanent+Marker&display=swap");
body,
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgba(127, 255, 212, 0.185);
  width: 100%;
  overflow-x: hidden;
}
:root {
  --comfortaa: "Comfortaa", arial;
  --permanent: "Permanent Marker", sans-serif;
}

.container {
  border: 1px solid #333;
  padding: 30px;
}
#board {
  display: -ms-grid;
  display: grid;
  /* -ms-grid-columns: (1fr) [3]; */
  grid-template-columns: repeat(3, 1fr);
  -webkit-box-shadow: rgba(219, 101, 27, 0.25) 0px 25px 50px -12px;
  box-shadow: rgba(219, 101, 27, 0.25) 0px 25px 50px -12px;
  border-radius: 15px;
  border: 1px solid #ff590066;
  overflow: hidden;
}
#board .btn {
  width: 6rem;
  height: 6rem;
  font-size: 3em;
  font-family: var(--permanent);
  background-color: rgba(255, 255, 255, 0.814);
  border: 1px solid #ff590066;
}
.btn:disabled,
.btn[disabled] {
  color: rgb(254, 106, 0);
}

.winner {
  position: absolute;
  inset: 0;
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.103);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
}
.holder {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 30rem;
  max-width: 400px;
  width: 90%;
  background-color: rgba(51, 51, 51, 0.474);
  font-family: var(--comfortaa);
}
.holder p {
  font-size: 3em;
  color: #f9f9f9;
  padding: 30px 0;
  text-align: center;
}
.holder button {
  padding: 15px 30px;
  border-radius: 5px;
  border: none;
  font-family: var(--comfortaa);
}

#turn-conatiner {
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}
#turn-conatiner > p {
  font-size: 1.75rem;
  font-family: var(--comfortaa);
}
#turn_holder {
  -ms-flex-pack: distribute !important;
  justify-content: space-around !important;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 0;
  font-size: 20px;
  /* font-family: var(--comfortaa); */
}

#turn_holder div {
  border: 1px solid #333;
  padding: 5px 10px;
  border-radius: 100px;
  -webkit-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
  color: #585858;
}

.turn {
  background-color: rgba(255, 128, 0, 0.603);
  color: #585858;
  -webkit-box-shadow: rgba(255, 255, 255, 0.5) 0px 5px 15px;
  box-shadow: rgba(255, 255, 255, 0.5) 0px 5px 15px;
  -webkit-transform: scale3d(1.3, 1.3, 1.3);
  transform: scale3d(1.3, 1.3, 1.3);
  border: none !important;
}

#choose {
  background-color: #f9f9f9ad;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  inset: 0;
  position: absolute;

  -webkit-box-orient: vertical;

  -webkit-box-direction: normal;

  -ms-flex-direction: column;

  flex-direction: column;
  /* display: none; */
}

#choose button {
  width: 250px;
  margin: 10px;
  padding: 20px;
  font-size: 40px;
  border: none;
  background-color: rgba(255, 123, 0, 0.748);
  color: #f9f9f9;
  border-radius: 10px;
  letter-spacing: 3px;
  font-family: var(--permanent);
}

#lastmatch {
  margin-bottom: 50px;
  font-size: 20px;
  color: #333;
  font-family: var(--comfortaa);
}

#lastmatch i {
  color: rgba(255, 123, 0, 0.748);
  font-size: 40px;
}

#lastmatch span {
  color: orange;
}
#lastmatch p {
  text-align: center;
  margin: 5px;
}
#leaderboard {
  background-color: #f9f9f9ad;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  inset: 0;
  position: absolute;
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 5%;
}
#leaderboard p {
  font-size: 40px;
  padding: 10px 0;
  font-family: var(--comfortaa);
  color: rgba(255, 123, 0, 0.748);
}

table {
  max-width: 400px;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
th {
  background-color: orange;
}
td,
th {
  padding: 8px 4px;
  text-align: center;
  font-size: 20px;
  font-family: var(--comfortaa);
}
tbody {
  height: 40vh;
  overflow-y: auto;
}

#close_leaderboard {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background-color: transparent;
}

#options button {
  border: none;
  padding: 10px;
  color: rgb(113, 85, 1);
  margin: 30px 10px 0 0;
  background-color: transparent;
}

button {
  cursor: pointer;
}
.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

nav {
  position: absolute;
  top: 5vh;
  font-family: var(--comfortaa);
  z-index: 2;
}
